- name: Delete existing dist folder
  file:
    path: "/tmp/mssql-demo"
    state: absent

- name: Clone sample database repo
  ansible.builtin.git:
    repo: https://github.com/Red-Hat-Energy-Ansible-Playbooks/mssql-demo
    dest: /tmp/mssql-demo
    
- name: SQL Script Execution
  ansible.builtin.command: '/opt/mssql-tools/bin/sqlcmd -S {{ sql_host }},{{ sql_port }} -U sa -P "{{ sa_password }}" -i "/tmp/mssql-demo/files/northwind-pubs/instpubs.sql"'
  register: sqlcmd_out